/* line 4, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
body {
  background-color: #ffff4d;
}

/* line 8, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.container {
  margin: 10%;
}

/* line 11, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.navbar-brand {
  padding-left: 3%;
  font-size: 2.5em;
  font-family: Zapf Chancery, cursive, helvetica, sans-serif;
  font-weight: bold;
}

/* line 18, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.navbar-inverse {
  background-color: #00e6b8;
}

/* line 21, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-brand {
  color: black;
}

/* line 24, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.navbar-nav {
  padding-right: 2%;
}

/* line 27, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li > a {
  font-size: 1.3em;
  color: black;
  font-weight: 500;
}

/* line 36, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.container-fluid .img {
  background: url(/assets/img1-7aeb9cb2128a561b11d07c5139669096d93c2416614687e8e967c9e22f507a9c.jpg);
}

/* line 39, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.container h1 {
  color: #333333;
}

/* line 42, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.container h2 {
  color: lightSeaGreen;
}

/* line 45, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.container p {
  color: rebeccaPurple;
}

/* line 49, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.ftr {
  background-color: #ff00ff;
  text-align: center;
  opacity: 0.6;
}

/* line 54, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.ftr p {
  color: white;
}

/* line 58, /Users/timothybutterworth/Documents/projects/littleBiscuits/app/assets/stylesheets/static_pages.scss */
.ftr .row {
  display: inline-block;
  padding: 0 2%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

